@{
    ViewBag.Title = "Decrypt Config Section(s)";
}

@section scripts
{

    <script type="text/javascript" src="~/Models/CryptoViewModel.js"></script>

    <script type="text/javascript" src="~/Models/DecryptViewModel.js"></script>

    <script type="text/javascript">
        var decryptViewModel = ko.validatedObservable(new DecryptViewModel());
        var validationOptions = new CryptoViewModelValidationOptions();
        ko.applyBindingsWithValidation(decryptViewModel, document.body, validationOptions);
    </script>

}

<h2>@ViewBag.Title</h2>
<form method="POST" data-bind="submit: submit">
    <br />
    @Html.Partial("_ThumbprintInputField")
    <br />
    <br />
    @Html.Partial("_XmlInputField", new { XmlInputType = "Encrypted" })
    <br />
    @Html.Partial("_CryptoSubmitButton", new { ButtonValue = "Decrypt" })
</form>
@Html.Partial("_XmlOutputDialog", new { DialogTitle = "Decrypted" })