@{
    ViewBag.Title = "Encrypt Config Section(s)";
}

@section scripts
{

    <script type="text/javascript" src="~/Models/CryptoViewModel.js"></script>

    <script type="text/javascript" src="~/Models/EncryptViewModel.js"></script>

    <script type="text/javascript">
        var encryptViewModel = ko.validatedObservable(new EncryptViewModel());
        var validationOptions = new CryptoViewModelValidationOptions();
        ko.applyBindingsWithValidation(encryptViewModel, document.body, validationOptions);
    </script>

}

<h2>@ViewBag.Title</h2>
<form method="POST" data-bind="submit: submit" class="crypto">
    <br />
    @Html.Partial("_ThumbprintInputField")
    <br />
    <br />
    @Html.Partial("_XmlInputField", new { XmlInputType = "Unencrypted" })
    <br />
    @Html.Partial("_CryptoSubmitButton", new { ButtonValue = "Encrypt" })
</form>
@Html.Partial("_XmlOutputDialog", new { DialogTitle = "Encrypted" })